<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="vente">
      <h2 data-cy="venteDetailsHeading"><span jhiTranslate="myCommerceApp.vente.detail.title">Vente</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vente.id }}</span>
        </dd>
        <dt><span jhiTranslate="myCommerceApp.vente.dateVente">Date Vente</span></dt>
        <dd>
          <span>{{ vente.dateVente | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="myCommerceApp.vente.nomRevendeur">Nom Revendeur</span></dt>
        <dd>
          <span>{{ vente.nomRevendeur }}</span>
        </dd>
        <dt><span jhiTranslate="myCommerceApp.vente.modePaiement">Mode Paiement</span></dt>
        <dd>
          <span>{{ vente.modePaiement }}</span>
        </dd>
        <dt><span jhiTranslate="myCommerceApp.vente.montantVente">Montant Vente</span></dt>
        <dd>
          <span>{{ vente.montantVente }}</span>
        </dd>
        <dt><span jhiTranslate="myCommerceApp.vente.client">Client</span></dt>
        <dd>
          <div *ngIf="vente.client">
            <a [routerLink]="['/client', vente.client?.id, 'view']">{{ vente.client?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/vente', vente.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
