<div>
  <h2 id="page-heading" data-cy="VenteHeading">
    <span jhiTranslate="myCommerceApp.vente.home.title">Ventes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myCommerceApp.vente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vente"
        [routerLink]="['/vente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myCommerceApp.vente.home.createLabel"> Create a new Vente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ventes?.length === 0">
    <span jhiTranslate="myCommerceApp.vente.home.notFound">No ventes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ventes && ventes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myCommerceApp.vente.dateVente">Date Vente</span></th>
          <th scope="col"><span jhiTranslate="myCommerceApp.vente.nomRevendeur">Nom Revendeur</span></th>
          <th scope="col"><span jhiTranslate="myCommerceApp.vente.modePaiement">Mode Paiement</span></th>
          <th scope="col"><span jhiTranslate="myCommerceApp.vente.montantVente">Montant Vente</span></th>
          <th scope="col"><span jhiTranslate="myCommerceApp.vente.client">Client</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vente of ventes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vente', vente.id, 'view']">{{ vente.id }}</a>
          </td>
          <td>{{ vente.dateVente | formatMediumDate }}</td>
          <td>{{ vente.nomRevendeur }}</td>
          <td>{{ vente.modePaiement }}</td>
          <td>{{ vente.montantVente }}</td>
          <td>
            <div *ngIf="vente.client">
              <a [routerLink]="['/client', vente.client?.id, 'view']">{{ vente.client?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/vente', vente.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/vente', vente.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
